/*-----------Navbar_Section--------------*/

@media (max-width: 1100px) {
  #navbar {
    border: 0.5px solid #fff;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 100%;
    z-index: 1;
  }
  .logo {
    height: 40px;
    width: 150px;
    margin-top: 0px;
  }
  #btn,
  #cancel {
    margin-right: 25px;
  }
  #btn {
    display: block;
  }

  #menu-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 105%;
    height: 90vh;
    top: 83px;
    left: -105%;
    transition: all 0.5s;
    background-color: #fff;
  }
  .list-items {
    line-height: 40px;
    margin: 5px 10px;
  }
  .list-items a {
    font-size: 22px;
  }

  #check:checked ~ #menu-list {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}

/*-----------------Main_Heading_Section----------------*/
@media (max-width: 850px) {
  .main-heading {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 0px;
  }
  .main-heading2nd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 20px;
  }
  .first-heading {
    width: 100%;
    margin-top: 10px;
  }
  .first-headingM {
    margin-left:0px;
    margin-top: 0px;
  }

  .second-heading {
    width: 100%;
  }
  .hosting-intro-img {
    width: 100%;
    margin-top: 50px;
  }
  .hosting-intro-img1 {
    width: 100%;
    margin-bottom: 50px;
  }
  .hosting-paragraph2nd {
    height: 75px;
    margin-bottom: 2vh;
  }
}
@media (max-width: 600px) {
  .hosting-heading {
    padding: 4px 4px;
    margin-bottom: 0px;
    font-size: 22px;
  }
  .hosting-paragraph {
    padding: 8px 5px;
    margin-bottom: 0px;
    font-size: 13px;
  }
  .hosting-btn {
    font-size: 12px;
    padding: 8px 0px;
    margin: 0px 8px;
    margin-top: 0px;
    width: 90%;
  }
  .second-heading{
    padding: 8px 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 22px;
    margin-left: 0px;
  }
  .hosting-paragraph2nd {
    font-size: 13px;
    width: 62vw;
    height: 80px;
    margin-top: 0vh;
    padding: 5px 5px;
  }
}
/*----------------Hositing-Cloud-Card-Section----------*/
@media (max-width: 940px) {
  #hosting-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0vh;
  }
  .hosting-card {
    width: 40vw;
    margin: 30px 30px;
  }
  .Cloud-hosting-paragraph {
    word-break: break-all;
  }
}
@media (max-width: 600px) {
  #hosting-card-section {
    justify-content: center;
  }
.Cloud-hosting-heading {
  padding: 5px 5px;
  margin-bottom: 0px;
  font-size: 17px;
}
.Cloud-hosting-paragraph {
  padding: 4px 5px;
  margin-bottom: 0px;
  font-size: 10px;
}
}
@media (min-width: 250) and (max-width: 600px) {
  .hosting-card {
    width: 100%;
    border:2px solid red;
  }
}
/* ----------------Plan_Secrion----------------*/

@media (max-width: 1100px) {
  #main-plan-section {
    padding: 60px 0px;
  }
  #plan-secction {
    width: 100%;
    height: 100%;
    display: grid;
  }
  .plan-card {
    display: grid;
    height: 120vh;
    width: 28vw;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    z-index: 1;
  }
  .plan-rate-section {
    margin-top: 0px;
  }
}
@media (max-width: 1030px) {
  .plan-card {
    display: grid;
    height: 120vh;
    width: 34vw;
  }
}
@media (max-width: 885px) {
  .plan-card {
    display: grid;
    height: 120vh;
    width: 37vw;
  }
}
@media (max-width: 800px) {
  .plan-card {
    display: grid;
    height: 120vh;
    width: 37vw;
    margin-top: 25px;
  }
  .main-plan-section-heading {
    font-size: 35px;
    padding: 30px 0px;

  }
}

@media (max-width: 630px) {
  .main-plan-section-heading {
    font-size: 30px;
    padding: 5px 0px;
  }
  .plan-card {
    width: 58vw;
    margin-left: 70px;
  }
  .pack-name {
    height: 160px;
  }
  .plan-heading {
    font-size: 22px;
  }
  .plan-para {
    padding: 4px 25px;
    font-size: 15px;
  }
  .check-icon-para-section {
    margin-top: 20px;
  }
  .check-icon {
    padding-right: 15px;
  }
  .check-icon-para h3 {
    font-size: 12px;
  }
  .check-icon-para {
    padding: 5px 0px;
  }
  .plan-rate-section h1 {
    font-size: 20px;
  }

  .plan-rate-section p {
    font-size: 17px;
  }
  .plan-btn {
    font-size: 15px;
    padding: 5px 15px;
    margin: 0px 0px;
    margin-top: 2px;
  }
  .plan-btn-middle {
    font-size: 15px;
    padding: 5px 15px;
    margin: 0px 0px;
    margin-top: 2px;
  }
}
/*-----------Customer-Section------------*/

@media (max-width: 1071px) {
  .customer-para {
    word-break: break-all;
  }
  .card-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .customer-card {
    width: 90vw;
    border: 1px solid rgb(211, 209, 209);
    margin: 20px 20px;
    margin-left: 30px;
  }
  .customer-card-para {
    word-break: break-all;
  }
}
@media (max-width: 800px) {
  #customer-section {
    margin-top: 5vh;
  }
  .customer-heading {
    font-size: 28px;
    padding: 8px 0px;
  }
  .customer-para {
    font-size: 13px;
    padding: 5px 0px;
  }  
  .customer-card-para {
    font-size: 12px;
    padding: 10px 0px;
  }
  .user-name-section {
    padding-bottom: 10px;
  }
  .user-img {
    height: 50px;
    width: 50px;
    padding-right: 10px;
  }
  .customer-name h3 {
    font-size: 14px;
    padding: 5px 5px;
  }
  .customer-name p {
    font-size: 12px;
    padding: 1px 5px;
  }
}

/* ---------Ragister-Section---------------*/
@media (max-width: 860px) {
  #register-content-section {
    height: 60vh;
    display: flex;
    flex-direction: column;
  }
  .register-heading {
    width: 100%;
  }
  #register-content-section h1 {
    font-size: 30px;
    padding: 20px 0px;
    flex-wrap: wrap;
  }
  #register-content-section h4 {
    font-size: 13px;
    padding: 7px 0px;
  }
  .register-new-btn {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  #register-content-section {
    height: 40vh;
  }
  
  #register-content-section h1 {
    font-size: 22px;
    padding: 12px 0px;
    
  }
  #register-content-section h4 {
    font-size: 10px;
    padding: 5px 0px;
  }
  .register-new-btn {
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 30px;
  }
}

/*-------------------------Footer-------------------*/
@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .footercol {
    flex-basis: 100%;
  }
  .footerlogo {
    width: 100px;
    height: 70px;
  }
  .footercol h3 {
    font-size: 18px;
  }
  .footercol h4 {
    padding-left: 5px;
    margin: 8px 0;
    font-size: 14px;
  }
  .footer-links a {
    margin: 8px 0;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 5px;
  }
}
